<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Coffee App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-witch, initial-scale=1"/>
</head>
<body>
<ul th:fragment="navigation" class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/review/new">Review</a>
    </li>

    <span th:unless="${user}">

        <li class="nav-item">
            <a class="nav-link" href="/login">Login/Register</a>
        </li>

    </span>


    <span th:if="${user}" th:object="${user}">
        <li class="nav-link" th:href="@{/user/{username}(username=*{username})}" th:text="*{username}"></li>

        <li class="nav-link" href="/logout">Logout</li>
    </span>
    </ul>
</body>
</html>