<!DOCTYPE html>
<!--<html lang="en" xmlns:th="'http://www.thymeleaf.org/" />-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">
    <nav th:replace="fragments :: navigation"></nav>

    <div th:each="review : ${reviewList}">
        <div th:object="${review}">
            <div class="row">
                <div class="col-sm-4">
                    <img th:src="@{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_512,c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId})}" class="img-fluid"/>
                </div>

                <div class="col-sm-8">
                    <table class="table-responsive">
                        <tr><td th:text="*{coffeeName}"/></tr>
                        <tr><td th:text="*{cafe}"/></tr>
                        <tr><td th:text="*{rating}"/></tr>
                        <tr><td th:text="*{story}"/></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <table class="table-responsive">
                    <tr><td>Drink type</td>
                        <td th:text="*{drinkType}" />
                    </tr>
                    <tr><td>Origin</td>
                        <td th:text="*{origin}" />
                    </tr>
                    <tr><td>Brew device</td>
                        <td th:text="*{brewDevice}" />
                    </tr>
                    <tr><td>Roaster</td>
                        <td th:text="*{roaster}" />
                    </tr>
                    <tr><td>Roast</td>
                        <td th:text="*{roast}" />
                    </tr>
                    <tr><td>I'm tasting</td>
                        <td th:text="*{flavors}" />
                    </tr>
                </table>
            </div>
            <div class="row">
                <table class="table-responsive" th:each="comment : ${commentList}">
                    <tr th:if="${comment.review.id} == ${review.id}">
                        <!--insert user profile photo here-->
                        <!--<td><img th:src=""</td>-->
                        <td th:text="${comment.text}"/>
                    </tr>
                </table>
                <table class="table-responsive">
                    <tr>
                        <td>
                            <form  class = "form-group" method="post">
                                <div th:object="${commentForm}">
                                    <label th:for="text" th:text="Comment"></label>
                                    <input th:field="*{text}"/>
                                    <span th:errors="*{text}">error</span>
                                    <input th:type="submit" class="btn btn-outline-primary btn-sm" th:value="submit"/>
                                </div>
                                <input th:type="hidden" th:value="*{id}" name="reviewId">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
    </div>
</div>
</body>
</html>

<!--       scrap code


           <img

                            th:attr="srcset=|@{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_256,c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId})} 1x,
                @{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_512,c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId})} 2x,
                @{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_768,c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId})} 3x,
                @{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_1024,c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId})} 4x|"

                            class="img-responsive"
                    />-->