<!DOCTYPE html>
<html lang="en" xmlns:th="'http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<p1>index page</p1>

<div th:each="review : ${reviewList}">
    <div th:object="${review}">
        <img th:src="@{http://res.cloudinary.com/dzpvkjnfe/image/upload/w_{scale},h_{scale},c_scale/v1568512137/{photoId}.jpg(photoId=*{photoId},scale=*{imageScale})}"/>
        <h1 th:text="*{coffeeName}"></h1>
        <p1 th:text="*{drinkType}"></p1>
        <p1 th:text="*{origin}"></p1>
        <p1 th:text="*{rating}"></p1>
        <p1 th:text="*{brewDevice}"></p1>
        <p1 th:text="*{roaster}"></p1>
        <p1 th:text="*{cafe}"></p1>
        <p1 th:text="*{flavors}"></p1>
        <p1 th:text="*{roast}"></p1>
    </div>
</div>






</body>
</html>