<!DOCTYPE html>
<html lang="en" xmlns:th="'http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<p1>register page</p1>



<form enctype="multipart/form-data" method="post">

    <label for="photo" th:text="Photo"></label>
    <input type="file" name="photo" id="photo"/>

    <div th:object="${form}" class="form-group">

        <label th:for="username" th:text="Username"></label>
        <input th:field="*{username}"/>
        <span th:errors="*{username}">error</span>

        <label th:for="password" th:text="Password"></label>
        <input type="password" th:field="*{password}"/>
        <span th:errors="*{password}">error</span>

        <label th:for="verify" th:text="Verify" ></label>
        <input type="password" th:field="*{verify}">
        <span th:errors="*{verify}">error</span>

        <label th:for="email"th:text="Email"></label>
        <input th:field="*{email}"/>
        <span th:errors="*{email}">error</span>

        <label th:for="hometown" th:text="Hometown"></label>
        <input th:field="*{hometown}"/>
        <span th:errors="*{hometown}">error</span>

        <label th:for="bio" th:text="Bio"></label>
        <textarea th:field="*{bio}"></textarea>

    </div>
    <input type="submit" value="Register">
</form>






</body>
</html>